<p>
    <div id="department-id" class="attribute">
        <div class="label">Подразделение: </div>
        <div class="value"><%= Department.find(@issue.department_id).name %></div>
    </div>
    <% if @issue.approved_owner.nil? && (User.current.admin? || User.current == User.find(PskbDepIssue.find_by(dep_id: @issue.department_id).user_id))%>
        <div>
            <%= link_to 'Согласовать', approve_issue_issue_path(@issue), method: :post %>      
            <%= link_to 'Отклонить', reject_issue_issue_path(@issue), method: :post %>
        </div>
    <% elsif  @issue.approved_owner == true %>
        <p>Согласовано руководителем подразделения</p>
    <% elsif @issue.approved_owner == false %>
        <p>Не согласовано руководителем подразделения</p>
    <% else %>
    <% end %>
    <div></div>
</p>