<% if @issue.tracker_id == 1 %>
  <% if @issue.status_id != PskbDomain::ISSUE_STATS[:NEG] %>
  <% else %>
    <p>
      <label for="department_id">Подразделение-инициатор</label>
      <select name="issue[department_id]" id="department_id">
        <option value="">Выберите подразделение</option>
        <% PskbDepIssue.all.each do |department| %>
          <option value="<%= department.id %>" <%= 'selected' if department.id == @issue.department_id %> >
            <%= Department.find(department.dep_id).name %>
          </option>
        <% end %>
      </select>
    </p>
  <% end %>
<% end %>